.f-wrapper{
    background-color: var(--primary-color);
}

.f-wrapper .container{
    margin-top: 5rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.f-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.f-container .title{
    color: white;
    font-style: oblique;
}

.f-container .emailBox{
    max-width: 36rem;
}

.social-icons {
    display: flex;
    gap: 45px;
    margin: 15px 0;
  }
  
  .social-icons a {
    color: #e2e2e2; /* Or any other color you prefer */
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #7732ac; /* Change color on hover, e.g., LinkedIn blue */
  }
  

.f-container hr{
    border-color: var(--border-color-light);
    width: 100%;
}

.f-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    cursor: pointer;
}

.f-menu span{
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
}

.f-menu span:hover{
    color: #7732ac;
}

.text-f{
    font-weight:300;
    color: rgb(221, 221, 221);
    text-decoration: none;
}

.C-f {
    color: rgb(221, 221, 221);
    text-decoration: none;
}
.W-f{
    color: rgb(221, 221, 221);
    text-decoration: none;
}


@media (max-width: 990px) {
    .f-menu{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .text-f{
        font-size:medium;
        text-align: center;
    }
    .C-f{
        letter-spacing: 0.1rem;
    }
    .W-f {
        display: block;
        letter-spacing: 0.1rem;
    }
}
