.n-wrapper{
    /* background-color:  var(--primary-color); */
    background: linear-gradient(135deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.716)); /* White to soft blue gradient */
    backdrop-filter: blur(15px); /* Enhanced glassy effect */
    -webkit-backdrop-filter: blur(15px); /* For Safari */
    width: 100%;
    position: absolute;
    z-index: 999;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Optional: adds a soft bottom border */
    box-shadow: var(--shadow);
}

.sticky{
    position: fixed;
    box-shadow: 10px 12px 48px rgba(181, 187, 203, .206);
    background-color: white;
    top: 0;
    /* height: 10%; */
}

.n-container{
    padding: 0rem 1rem;
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.sticky .n-container{
    color: #292929;
    padding: 0rem;
}
.n-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: small;
    width: 150px; /* Set max width for logo container */
    height: auto; /* Adjust height if needed */
    overflow: hidden; /* Ensures image doesn't overflow */
}


.n-right{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5rem;
    font-size: 0.9rem;
}

.n-menu{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-right: 30px;
    
}

.n-menu-item {
    padding: 10px;
    background-color: transparent;
    border-radius: 900px;
    transition: background-color 0.3s ease; 
    color: #292929;
  
    
    &:hover {
        background-color:  #7732ac;
      /* background-color: #0042CB;  */
      color: aliceblue;
    }
}

.n-menu span{
    cursor: pointer;
}

.contact-button{
    color: white;
    background-color:  #7732ac;
    /* background-color: #0042CB; */
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 900px;
    cursor: pointer;
    margin-left: 30px;
    text-decoration: none;

    &:hover {
        background-color:aliceblue; 
        color: black;
      }
}

.nm-container{
    display: none;
}

@media (max-width: 1200px) {
    .n-container{
        display: none;
    }
    .nm-container{
        display: block;
        background: linear-gradient(135deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.716)); /* White to soft blue gradient */
        backdrop-filter: blur(15px); /* Enhanced glassy effect */
        -webkit-backdrop-filter: blur(15px); /* For Safari */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        position: relative;
        background-color: var(--primary-color);
    }
    .nm-container>:nth-child(1){
        font-weight: bold;
    }
    .nm-menu{
        position: fixed;
        top: 3.9rem;
        padding: 3rem 2rem;
        box-sizing: border-box;
        left: 0;
        align-items: center;
        display: flex;
        background-color: var(--primary-color);
        flex-direction: column;
        transform: translateX(-150%);
        transition: all 300ms ease-in-out;
        width: 100%;
        font-size: 1.2rem;
        z-index: 99;
        height: calc(100vh - 3.9rem);
        gap: 2rem;
        color: aliceblue;
    }
    .nm-menu span{
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid var(--border-color);
    }
    .m-contact-button{
        width: 100%;
        background-color: var(--third-color);
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 1rem 0rem;
        border-radius: 999px;
        color: aliceblue;
        text-decoration: none;
    }
    .n-logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: small;
        width: 150px; /* Set max width for logo container */
        height: auto; /* Adjust height if needed */
        overflow: hidden; /* Ensures image doesn't overflow */
    }
}

